[submodule "ros2_docker/colcon_ws/src/ROS-TCP-Endpoint"]
	path = ros2_docker/colcon_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "ros2_docker/colcon_ws/src/urdf_tutorial"]
	path = ros2_docker/colcon_ws/src/urdf_tutorial
	url = https://github.com/ros/urdf_tutorial.git
