[submodule "ros2_docker/colcon_ws/src/ROS-TCP-Endpoint"]
	path = ros2_docker/colcon_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "ros2_docker/colcon_ws/src/raspimouse_description"]
	path = ros2_docker/colcon_ws/src/raspimouse_description
	url = https://github.com/rt-net/raspimouse_description.git
[submodule "ros2_docker/colcon_ws/src/realsense2_description"]
	path = ros2_docker/colcon_ws/src/realsense2_description
	url = https://github.com/issaiass/realsense2_description.git
[submodule "ros2_docker/colcon_ws/src/jnmouse_description"]
	path = ros2_docker/colcon_ws/src/jnmouse_description
	url = https://github.com/rt-net/jnmouse_description.git
